body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background:#FFFFFF;
    overflow-x: hidden;
}


nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 90px;
    margin-top:0;
    box-shadow: 5px 20px 18px -10px #e8e8e4;
    background: #FFFFFF;
    position:fixed;
    z-index:10;
}

.navigation{
     display: flex;
     justify-content: center;
     align-content: center;
     list-style:none;
 }

   
a{
    height: 20px;
    text-decoration: none;
    padding:25px;
    margin-right: 10px;
    color:grey;
    font-size: 20px;
    font-weight: bold;
}

.salute-button:hover{
    color:#49ACDE;
}

.skill-button:hover{
    color:#49ACDE;
}

.proyects-button:hover{
    color:#49ACDE;
}

.contact-button{
    height:20px;
    width:70px;
    margin: 25px;
    background-color: #e5e5e5;
    border-radius: 75px;
    box-shadow:-1px 0px 7px 0px #e5e5e5;
}
.contact-button:hover{
    color:white;
    background-color:#50BAC3;
 }

.contact-button:active{
    background-color:#FF6584 ;
    color:white;
    box-shadow: -1px 0px 7px 0px grey;
}
/*MAIN SECTION*/

.section-presentation{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:110px;
    /*margin-bottom: 50px;*/
    text-align: center;   
}

.hello-name{
    display: flex;
    flex-direction: column;
    /*margin-right: 35px;*/
}
    

.saying-hi{
    font-size:2.5em;
    font-weight: bold;
    /*margin-bottom:20px;*/
    color:#3F3D56;
}

.name{
    font-size: 3.5em;
    color:#52a9b1;
    font-family: 'Homemade Apple', cursive;}

.description-name{
    font-size:1.5em;
    color:black;
}

.main-button{
    margin-top:5%;
}

.picture-presentation{
    width:100%;
}

.me-coding-pic{
    width:600px;
    height:600px;
    transition:0.5s ease-out;
}

.me-coding-pic:hover{
    transform:scale(1.2);
}

/*MY KNOWLEDGE SECTION*/

.my-knowledge{
    width: 100%;
    height: 100%;
    background-color:#F6F7FB ;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.tittle-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.knowledge-tittle{
    font-size: 3em;
    color:#3F3D56;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    height: 100%;
    /*padding:120px 30px 120px;*/
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap:wrap;
}

.skill-container{
    height: 260px;
    width:260px;
    margin:2%;
    padding:20px;
    background-color: white;
    border:1px solid grey;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
 
}

.word-icon{
    font-size: 1em;
    font-weight: bold;
    letter-spacing:2px;
}
.devicon-html5-plain-wordmark{
    font-size: 140px;
    text-align: center;
}

.devicon-css3-plain{
    font-size: 140px;
    text-align: center;
}

.devicon-sass-original{
    font-size: 140px;
    text-align: center;
}

.devicon-javascript-plain{
    font-size: 140px;
    text-align: center;
}

.devicon-react-original{
    font-size: 140px;
    text-align: center; 
}

.devicon-git-plain{
    font-size: 140px;
    text-align: center; 
}

.skill-container:hover{
    border: 1px solid #01479C;
    box-shadow: inset 0px 0px 12px 8px rgba(69, 82, 99, 0.6);
    color:#01479C;
}


.quote-section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    background-color: #01479C;
    color:white;
    background: #01479C;
    background: -moz-linear-gradient(left, #01479C 0%, #1C6EA4 51%, #0271F9 100%);
    background: -webkit-linear-gradient(left, #01479C 0%, #4699d1 51%, #0271F9 100%);
    background: linear-gradient(to right, #01479C 0%, #1C6EA4 51%, #0262d6 100%);
}

.quote-container{
    margin-top: 80px;
    margin-bottom: 80px;
}

.quote{
    font-size: 2em;
}

.author{
    font-size:5em;
}

.author-quote{
    font-size: 2em;
}

.project-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color:#F6F7FB;
    margin-bottom: 20px;
}


.project-section-column{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    /*padding:10%;*/
}

.project-tittle{
    font-size: 3em;
    color:#3F3D56;
    letter-spacing: 1px;
}

.project-text{
    font-size: 1.5em;
    color:#3F3D56;
    letter-spacing: 1px;

}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
    justify-content: center;
    margin-top: 10%;
}

.grid{
    width: 408px;
    height: 410px;
    margin:1%;
    border:1px solid grey;
    border-radius: 9px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px #b3b3b3;
    background-color: white;
}

.portfolio-pic{
    width:280px;
    height:350px;
}

.meme-gen-pic{
    width:280px;
    height:350px;
}
.videogames-pic{
    width:280px;
    height:350px;
}

.payments-pic{
    width:280px;
    height:350px;
}

.reunion-pic{
    width:280px;
    height:350px;
}

.yoga-pic{
    width:280px;
    height:350px;
}

.movies-pic{
    width:280px;
    height:350px;
}

.grid:hover{
    border: 1px solid #01479C;
    color:#01479C;
}

figcaption{
    font-size:1.4em;
    font-weight: bold;
}

figcaption:hover{
    color:#01479C;
}

.contact-section{
    display: flex;
    align-content: center;
    justify-content: center;
    /*padding:100px 35px 100px;*/
    background-color:#DDECFF;
}

.contact-container{
    display: flex;
    width: 90%;
    background-color:#F6F7FB;
    margin:10%;
    border-radius:20px;
    -webkit-box-shadow: 1px 3px 23px 5px #49ACDE; 
    box-shadow: 1px 3px 23px 5px #49ACDE;
}

.contact-aside{
    padding: 30px;
    width:50%;
    display:flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    text-align: left;
}

.contact-me-tittle{
    font-size: 2.7em;
    color:#3F3D56;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.contact-text{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    color:#3F3D56;
    letter-spacing: 1px;
    text-align: center;
}


.contact-social-media{
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    list-style: none;
    /*padding:10px;*/
}

span{
    font-size: 1em;
}

li:hover span{
    color:#49ACDE; 
}

.media{
    color:#49ACDE;
    border:1px solid white;
    border-radius: 20px;
    margin-right: 5px;
    transition: 0.3s;
    font-size:40px;
}
.mediaa{
    color:#5db9e7;
    border:1px solid white;
    margin-right: 5px;
    transition: 0.3s;
    font-size:40px;
}
li:hover .mediaa{
    color:teal;
    background-color:#5db9e7;
    border:1px solid teal;
    height: 90px;
    width: 90px;
    margin-right: 5px;
}

li:hover .media{
    color:teal;
    background-color:#5db9e7;
    border:1px solid teal;
    border-radius: 20px;
    height: 90px;
    width: 90px;
    margin-right: 5px;
}



.form-aside{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.write-me-tittle{
    font-size: 2.7em;
    color:#2a293b;
    letter-spacing: 1px;
    font-weight: bold;
}

.write-me-par{
    font-size: 1em;
    margin-left: 30px;
    color:#3F3D56;
    letter-spacing: 1px;
}

.container-name{
    display: flex;
    align-content: center;
    font-weight: bold;
}

.name-field{
    display: flex;
    flex-direction: column;
    margin-right:20px;
    
}

.surname-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right:20px;
}

.email-field{
    display: flex;
    flex-direction: column;
    width:77%;
    font-weight: bold;
}

.comment-field{
    display: flex;
    flex-direction: column;
    width:77%;
    font-weight: bold;
}

.form-name{
    outline:none;
    border-radius: 20px;
    border:transparent;
    padding:5px;
    background-color:#DDECFF;
    font-family: 'Cutive Mono', monospace;
}
.form-name:hover{
    box-shadow:1px 3px 23px 5px #5db9e7;
}

.surname-form{
    outline:none;
    border-radius: 20px;
    border:transparent;
    padding:5px;
    background-color:#DDECFF;
    font-family: 'Cutive Mono', monospace;
}

.surname-form:hover{
    box-shadow:1px 3px 23px 5px #5db9e7;
}

.email-form{
    outline:none;
    border-radius: 20px;
    border:transparent;
    padding:5px;
    background-color:#DDECFF;
    font-family: 'Cutive Mono', monospace;
}

.email-form:hover{
    box-shadow:1px 3px 23px 5px #5db9e7;
}

textarea{
    outline:none;
    border-radius: 20px;
    border:transparent;
    padding:5px;
    background-color:#DDECFF;
    font-family: 'Cutive Mono', monospace;
}

textarea:hover{
    box-shadow:1px 3px 23px 5px #5db9e7;
}

.submit-button{
    margin:10px;
    border:transparent;
    width:20%;
    height: 10%;
    border-radius: 10px;
    background-color:#49ACDE;
}

.submit-button:hover{
    background-color:teal;
    box-shadow:1px 3px 23px 5px #5db9e7;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width:100%;
    background-color: #0D294D;
}

.link-list{
    margin-top:40px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-media-footer{
    margin-top:40px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.salute-footer{
    margin-top:40px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color:white;
    font-weight: bold;
}

/*MOBILE STYLES*/
@media screen and (max-width: 700px) and (min-width:300px) {

    body{width:100vw;}
   
    
    nav{display:none;}

    .section-presentation{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        
    }

    .hello-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .saying-hi{
        margin: 0;
        font-size: 2em;
    }
    .name{
        font-size: 2.5em;
    }

    .description-name{
        font-size: 1.5em;
        width: 90%;
        margin-rigth:40px;
    }

    .main-button{
        margin-left: 12px;
    }

    .contact-button{
        height: 10px;
        padding:10px;
        font-size: 1em;
        background-color:#50BAC3;
        color:white;

    }

    .picture-presentation{ 
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .me-coding-pic{
        width: 380px;
        height: 400px;
        transition: none;
    }

    .me-coding-pic:hover{
        transform: none;
    }

    .my-knowledge{
        width: 100%;
    }

    .tittle-section{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .knowledge-tittle{
        font-size: 2em;
    }

    .knowledge-paragraph{
        width: 90%;
        margin-left:10px;
        font-size: 0.8em;
    }

    .skill-container{
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .word-icon{
        font-size: 0.5em;
        font-weight: bold;
    }

    .skill{
        font-size: 80px;
    }

    .quote{
        font-size: 1.6em;
    }

    .author-quote{
        font-size: 1.5em;
    }

    .project-tittle{
        font-size: 2.1em;
    }

    .project-text{
        font-size: 1em;
        margin: 10px;
    }

    .contact-section{
        width:100%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .contact-aside{
        width: 90%;
        display: flex;
        
    }

    .contact-text{
        margin:20px;
        font-size: 1em;
    }

    .contact-social-media{
        width: 90%;
        display: flex;
    }

    .media{
        font-size: 37px;
    }

    .mediaa{
        font-size: 37px;
    }

    span{
        font-size: 0.9em;
    }

    .write-me-par{
        display: none;
    }

    .name-field{
        width: 70%;
    }

    .surname-field{
        width: 70%;
    }

    .email-field{
        width: 320px;
    }

    .comment-field{
        width: 320px;
    }

    .submit-button{
        width: 80px;
    }

    .link-list{
        display: none;
    }


}

    