body{
    padding:0;
    margin:0;
    height:100vh;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background:#FFFFFF;
   
}


nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 90px;
    margin-top:0;
    box-shadow: 5px 20px 18px -10px #e8e8e4;
    background: #FFFFFF;
    position:fixed;
}

.navigation{
     display: flex;
     justify-content: center;
     align-content: center;
     list-style:none;
 }

   
a{
    height: 20px;
    text-decoration: none;
    padding:25px;
    margin-right: 10px;
    color:grey;
    font-size: 20px;
    font-weight: bold;
}

.salute-button:hover{
    color:#49ACDE;
}

.skill-button:hover{
    color:#49ACDE;
}

.proyects-button:hover{
    color:#49ACDE;
}

.contact-button{
    height:20px;
    width:70px;
    margin: 25px;
    background-color: #e5e5e5;
    border-radius: 75px;
    box-shadow:-1px 0px 7px 0px #e5e5e5;
}
.contact-button:hover{
    color:white;
    background-color:#50BAC3;
 }

.contact-button:active{
    background-color:#FF6584 ;
    color:white;
    box-shadow: -1px 0px 7px 0px grey;
}

.section-presentation{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 600px;
    padding-top:110px;
    margin-bottom: 50px;
    text-align: center;
   
}

.hello-name{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 80%;
    margin-right: 35px;
    color:#3F3D56;
}
    

.saying-hi{
    font-size:3em;
    margin-top:0;
    margin-bottom:20px;
}

.name{
    font-size: 4em;
    color:#50BAC3;
    font-family: 'Roboto Mono', monospace;
}

.description-name{
    font-size:1.5em;
    color:black;

}

.main-button{
    margin-top:10%;
}

.picture-presentation{
    width:100%;
    height: 80%;

}

.me-coding-pic{
    width:700px;
    height:700px;
    transition:0.5s ease-out;
}

.me-coding-pic:hover{
    transform:scale(1.2);
}

.my-knowledge{
    width: 100%;
    height: 100%;
    background-color:#F6F7FB ;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 200px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.tittle-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.knowledge-tittle{
    font-size: 3em;
    color:#3F3D56;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    height: 100%;
    padding:120px 30px 120px;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap:wrap;
}

.rojo{
    height: 260px;
    width:260px;
    margin:2%;
    padding:20px;
    background-color: white;
    border:1px solid grey;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
 
}

.word-icon{
    font-size: 1em;
    font-weight: bold;
    letter-spacing:2px;
}
.devicon-html5-plain-wordmark{
    font-size: 140px;
    text-align: center;
}

.devicon-css3-plain{
    font-size: 140px;
    text-align: center;
}

.devicon-sass-original{
    font-size: 140px;
    text-align: center;
}

.devicon-javascript-plain{
    font-size: 140px;
    text-align: center;
}

.devicon-react-original{
    font-size: 140px;
    text-align: center; 
}

.devicon-git-plain{
    font-size: 140px;
    text-align: center; 
}

.rojo:hover{
    border: 1px solid#C4DDFF ;
    box-shadow: inset 0px 0px 12px 8px rgba(196,221,255,0.6);
    color:#C4DDFF;
}


.quote-section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #01479C;
    color:white;
    background: #01479C;
    background: -moz-linear-gradient(left, #01479C 0%, #1C6EA4 51%, #0271F9 100%);
    background: -webkit-linear-gradient(left, #01479C 0%, #1C6EA4 51%, #0271F9 100%);
    background: linear-gradient(to right, #01479C 0%, #1C6EA4 51%, #0271F9 100%);
}

.quote-container{
    margin-top: 100px;
    margin-bottom: 80px;
}

.quote{
    font-size: 2em;
}

.author{
    font-size:5em;
}

.author-quote{
    font-size: 2em;
}